<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<br>
<div align="center">
    <h3><a href="http://0.0.0.0:8000/deals/post_deals_csv">POST /post_deals_csv</a> - загрузить csv со сделками</h3>
    <h3><a href="http://0.0.0.0:8000/deals/get_top_clients">GET /get_top_clients</a> - получить данные о клиентах</h3><br>
    <h4><i>*тестовый csv-файл находится в директории проекта 'test_csv'</i></h4>
</div>
</body>
</html>